html, body {
    background-color: #fff;
    color: #636b6f !important;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 200;
    height: 100vh;
}

a {
    color: #636b6f !important;
}

.btn {
    color: rgb(231, 231, 231) !important;
}